<header>
  <nav>
    
    <div class="navMenu">
      <h1>🌎WikiMap</h1>
      <a href="">Profile</a>
      <form method="post" action="/login">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Login</button>
      </form>
      <a href="">Logout</a>
    </div>
  </nav>
</header>