<header>
  <nav>
    
    <div class="navMenu">
      <h1>🌎WikiMap</h1>
      <button>
        <a href="../">Home</a>
      </button>
      <button>
        <a href="../profile">Profile</a>
      </button>
      <form method="post" action="/login">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <button type="submit">Login</button>
        <button type="submit">Logout</button>
      </form>
    </div>
  </nav>
</header>